In [2]:
import pandas as pd

## Desarrollo de la solucion

### 1) Importar catálogos

In [3]:
consoles = context.catalog.load("consoles")
result = context.catalog.load("result")

2021-12-30 00:10:44,587 - kedro.io.data_catalog - INFO - Loading data from `consoles` (CSVDataSet)...
2021-12-30 00:10:44,618 - kedro.io.data_catalog - INFO - Loading data from `result` (CSVDataSet)...

### 2) Validación de data

#### - Catálogo Consoles

In [ ]:
consoles.head()

In [ ]:
consoles.shape

In [ ]:
consoles['console'].sort_values().unique()

#### - Catálogo Result

In [ ]:
result.head()

In [ ]:
result.shape

In [ ]:
result['console'].sort_values().unique()

In [4]:
#Se debe eliminar los espacios en blanco de los registros ' PC' y ' VITA' para no ensuciar los análisis.
result['console']=result['console'].str.strip()
result

,metascore,name,console,userscore,date
0,97,Grand Theft Auto V,PS3,8.3,"Sep 17, 2013"
1,97,Grand Theft Auto V,X360,8.3,"Sep 17, 2013"
2,95,The Last of Us,PS3,9.2,"Jun 14, 2013"
3,94,BioShock Infinite,PS3,8.5,"Mar 26, 2013"
4,94,BioShock Infinite,PC,8.6,"Mar 25, 2013"
...,...,...,...,...,...
15642,38,Touhou Kobuto V: Burst Battle,Switch,4.6,"Oct 10, 2017"
15643,38,Randall,PS4,2.1,"Jun 6, 2017"
15644,36,Tokyo Tattoo Girls,VITA,5.4,"Nov 14, 2017"
15645,26,Road Rage,PS4,2.5,"Nov 14, 2017"
15646,17,Vroom in the Night Sky,Switch,3.1,"Apr 5, 2017"

In [5]:
joindata = result.merge(consoles,how='inner')

In [ ]:
joindata

In [ ]:
# Setear en 0
joindata['userscore']= joindata['userscore'].replace(to_replace='tbd',value= 0)

In [ ]:
result.sort_values(by=['metascore','userscore'],ascending= False).head(10).drop_duplicates(subset=['name'])

In [ ]:
result.sort_values(by=['metascore','userscore'],ascending= True).head(10).drop_duplicates(subset=['name'])

In [ ]:
joindata.sort_values(by=['metascore','userscore']).head(10).drop_duplicates(subset=['name'])

In [ ]:
pd.pivot_table(joindata, values = ('metascore'), index=['company','console','name'],sort=False).reset_index()

In [ ]:
df

In [ ]:
df.to_csv('output.csv', index=False)

In [ ]:
joindata.query("metascore==11")

In [ ]:
joindata[['metascore','name','console']].sort_values(by='metascore',ascending=True).query("console=='X360'")

In [6]:
grouped =joindata.groupby(['company','console'])
df=grouped.apply(lambda g: g.sort_values(by="metascore",ascending=True).head(10))
df2=df[['metascore','name']].reset_index()
df2=df2[['company','console','metascore','name']]
df2=pd.DataFrame(df2)
df2

       company console  metascore                                     name
0    Microsoft    X360         17                                    Yaris
1    Microsoft    X360         17  Double Dragon II: Wander of the Dragons
2    Microsoft    X360         19                Ride to Hell: Retribution
3    Microsoft    X360         22                 Fast & Furious: Showdown
4    Microsoft    X360         25                            NBA Unrivaled
..         ...     ...        ...                                      ...
185       Sony    VITA         44                               Chronovolt
186       Sony    VITA         48                       Valhalla Knights 3
187       Sony    VITA         48            The Muppets: Movie Adventures
188       Sony    VITA         49                 Dungeon Hunter: Alliance
189       Sony    VITA         49                       Asphalt: Injection

[190 rows x 4 columns]

In [7]:
def top10WorstGamesCompany(resultConsoles):
    """
        6)  Generar una función que reciba como input el catalogo "resultConsoles" 
        y genere un catalogo con los 10 peores juegos por todas las consolas.
    """    
    grouped =resultConsoles.groupby(['company','console'])
    df=grouped.apply(lambda g: g.sort_values(by="metascore",ascending=True).head(10))
    df2=df[['metascore','name']].reset_index()
    df2=df2[['company','console','metascore','name']]
    df2=pd.DataFrame(df2)
    return df2

In [8]:
top10WorstGamesCompany(joindata)

       company console  metascore                                     name
0    Microsoft    X360         17                                    Yaris
1    Microsoft    X360         17  Double Dragon II: Wander of the Dragons
2    Microsoft    X360         19                Ride to Hell: Retribution
3    Microsoft    X360         22                 Fast & Furious: Showdown
4    Microsoft    X360         25                            NBA Unrivaled
..         ...     ...        ...                                      ...
185       Sony    VITA         44                               Chronovolt
186       Sony    VITA         48                       Valhalla Knights 3
187       Sony    VITA         48            The Muppets: Movie Adventures
188       Sony    VITA         49                 Dungeon Hunter: Alliance
189       Sony    VITA         49                       Asphalt: Injection

[190 rows x 4 columns]